<h2>Crear un nuevo ToDo</h2>
<div class="row">
  <div class="col-md-3">
    <%= form_with(model: @sale,  local: true) do |f| %>
      <div class="form-group">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description , class:'form-control'%>
        </div>
        <div class="form-group">
          <%= f.label :completed, "Completed" %>
          <%= f.check_box :completed, class:'form-control' %>
        </div>
         <%= f.submit "Crear", class:'btn btn-primary' %>
    <% end %>
  </div>
</div>